.favoritesPageContainer {
  display: flex;
  flex-direction: column;
  gap: 3.5ch;
}
.favoritePosts {
  display: flex;
  flex-direction: row;
  gap: 3.5ch;
  flex-wrap: wrap;
  justify-content: center;
}
