.cartPageContent {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cartPageContainer {
  display: flex;
  flex-direction: column;
  gap: 5ch;
}

.cartPageContainer .cartPageHeader {
  align-self: center;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 2ch;
}
