.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebebeb;
  height: 160px;
  max-width: 500px;
  max-height: 150px;
  border-radius: 20px;
}

.cartItem img {
  width: 160px;
  height: 100%;
  margin-right: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 15px;
}

.cartItemContent {
  padding: 15px;
}

.cartItemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5ch;
}

.cartItemHeader h1,
.cartItemHeader h3 {
  font-size: 20px;
}

.cartItemDetails h2 {
  font-size: 16px;
}

.cartItemFooter {
  display: flex;
  gap: 2ch;
}

.cartItemFooter .cartBtn.editBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1ch;
  background-color: #ffffff;
  font-weight: 500;
  padding: 8px;
  border-radius: 20px;
}

.cartItemFooter .cartBtn.deleteBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1ch;

  background-color: #f35242;
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  transition: ease-in-out opacity 0.3s;
}

.cartItemFooter .cartBtn.editBtn:hover,
.cartItemFooter .cartBtn.deleteBtn:hover {
  cursor: pointer;
  opacity: 80%;
}

.cartEditorMenu {
  position: absolute;
  width: 125px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 70px;
  background-color: rgb(201, 198, 198, 1.0);
}

.cartEditorMenu form input,
.cartEditorMenu form {
  width: 25px;
  text-align: center;
  background-color: rgb(201, 198, 198, 0.9);
  border: none;
}

.cartEditorMenu form input[type="number"]::-webkit-inner-spin-button,
.cartEditorMenu form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartEditorMenu .cartBtn {
  border-radius: 50%;
  border: 1px solid gray;
  height: 100%;
  width: 30px;
  transition: ease-in-out opacity 0.2s;
}

.cartEditorMenu .cartBtn:hover {
  cursor: pointer;
  opacity: 75%;
}

.cartEditorMenu .cartBtn.decreaseBtn {
  background-color: rgba(221, 71, 51, 0.877);
}

.cartEditorMenu .cartBtn.increaseBtn {
  background-color: lime;
}
